<div id="container">
    <section id="cover">
      <div class="wrapper">
        <div id="covercontainer">
          <img src="https://placeit.net/uploads/stage/stage_image/5035/default_watermarked_a11471base.png" />
</div>
          <h1>DELVE</h1>
          <h2>Find fun & free events <br>
            in your neighborhood</h2>
      </div>
    </section>
</div>


    <section id="about">
    					<div class="wrapper">
                <div id="aboutcontainer">
                  <img src="http://www.myiconfinder.com/uploads/iconsets/256-256-56165014858e6dbadaf3ba00d782f125.png" />
                    <img src="  http://www.freeiconspng.com/uploads/maps-icon-25.png" width="30%"/>

                 </div>

                  <h1>Gibberish</h1>
                  <h2>Info About App</h2>
                  <ul>
                    <li>Gibberish Location</li>
                    <li>Gibberish Search</li>
                    <li>Gibberish Gibberish Gibberish</li>
                    <li>Gibberish Gibberish Gibberish Gibberish</li>
                  </ul>


    					</div>
  </section>


  <section id="tools">
        <div class="wrapper">
          <div id="toolcontainer">
    <img src="http://i.imgur.com/Ey0vSQ3.png" />
          </div>

            <h1>Gibberish</h1>
            <h2>Some category gibberish<br>
            on the type of events <br>
            the app offers users</h2>
        </div>
      </section>


      <section id="tutorial">
  					<div class="wrapper">
  						<div id="tutcontainer">
                <img src="https://placeit.net/uploads/stage/stage_image/5153/default_watermarked_a11553base.png" />


               </div>

                <h1>Gibberish</h1>
                <h2>Sign Up</h2>
                <ul>
                  <li>Get notified when</li>
                  <li>the app is on blah</li>
                  <li>Gibberish Gibberish Gibberish</li>
                  <li>Gibberish Gibberish Gibberish Gibberish</li>
                </ul>
  					</div>
  				</section>


          <section id="brain">
      <div class="wrapper">
        <div id="organcontainer">

          <h1>Gibberish Gibberish</h1>
          <!--<div id="thoughts">
            <h1>BrocaSpellBrai</h1>
          </div>-->
        </div>
      </div>
    </section>
